.grid-x
  .medium-3.cell
    = render "buttons/lionsocial"
  .medium-9.cell
    .center
      %h2 Lion Social Settings
      %h4 Control Lion Social from just right here.
    .grid-x
      .medium-4.cell
        .callout.info
          .center
            %h4 Disable
            %p Shows all disbale options for Lion Social.
            = link_to "Open", disablecontrol_path, class: "button"
    