.grid-x
  .medium-3.cell
    = render "buttons/cross"
  .medium-9.cell
    .center
      %h2 LionNav Settings
      %h4 Control LionNav from just right here.
    .grid-x
      .medium-4.cell
        .callout.info
          .center
            %h4 Users
            %p Shows all users and information about them.
            = link_to "Open", usercontrol_path, class: "button"
      .medium-4.cell
        .callout.info
          .center
            %h4 Disable
            %p Shows all disbale options for lionnav.
            = link_to "Open", disablecontrol_path, class: "button"
    